/* Extra small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-color: blue;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: gray;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: red;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: white;
  }
}

body {
  margin: 3rem;
  font-family: "Courier New", Courier, monospace;
  /* font-size: small; */
}
.emoji-skin::after {
  content: "\1F3FE";
}
h3 {
  margin-top: 2em;
}

h4, h5 {
  margin-top: 2em;
  margin-bottom: 1em;
}
